<% content_for :head do %>
  <%= javascript_include_tag 'map'%>
<% end %>
<p id="notice"><%= notice %></p>
<h1>Basic OSM Example</h1>

<div id="map" style="width: 100%; height: 400px;"
     data-lat="<%= @run.lat %>"
     data-lon="<%= @run.lon %>"
     data-gpx="<%= @run.gpx.url %>">
</div>

<%= t('distance') %> <%= @run.distance%>
<%= t('duration') %> <%= @run.duration%>
<%= t('start_at') %> <%= @run.start_at%>
<%= t('average_speed') %> <%= @run.average_speed%>
<%= t('lowest') %> <%= @run.lowest%>
<%= t('highest') %> <%= @run.highest%>
<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
